
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  padding-left: 500px;
  font-size: 10px;
  margin: 2%;
  display: block;
}

.container {
  /*margin: 20px;*/
  height:1230.5px;
  width: 400px;
  background-color: #ECECEC;

}

h1 {
  font-family: sans-serif;
  padding: 5% 0;
  font-size: 2em;
  text-align: center;

}

.preview {
  padding: 2% 75% 5% 0;
  height:250px;
  width: 400px;
  background-color: #ECECEC;
}

h2 {
  padding: 10% 0 0 25%;
  font-size: 2em;
  text-align: left;

}

.baku{
  margin: 0 0 10% 0;
  padding: 2% 25% 5% 0;
  background: url(../images/baku.jpg) no-repeat center;
  background-size: 283px 283px;
}

.london {
  margin: 10% 0;
  padding: 2% 25% 5% 0;
  background: url(../images/london.png) no-repeat center;
  background-size: 283px 283px;

}

.madrid {
  margin: 10% 0;
  padding: 2% 25% 5% 0;
  background: url(../images/madrid.jpg) no-repeat center;
  background-size: 283px 283px;

}

.rome {
  margin: 10% 0;
  padding: 2% 25% 5% 0;
  background: url(../images/rome.jpg) no-repeat center;
  background-size: 283px 283px;

}
