
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-size: 10px;
  width: 100%;
  margin: auto;

}

.container {
  height:1210px;
  width: 100%;
  background-color: #ECECEC;

}


.preview {
  padding: 0 0 0 0;
  height:20%;
  width: 100%;
  display: inline-block;
  align-content: center;
}

.baku{
  background: url(../images/baku.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}

.london {
  background: url(../images/london.png) no-repeat center;
  background-size: cover;
  width: 100%

}

.madrid {
  background: url(../images/madrid.jpg) no-repeat center;
  background-size: cover;
  width: 100%;

}

.rome {
  background: url(../images/rome.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
}


h1 {
  font-family: avenir;
  padding: 7% 0;
  font-size: 1.4em;
  font-weight: bold;
  color: #666666;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  padding: 10% 0 0 15%;
  font-size: 2em;
  text-align: left;

}

@media screen and (min-width: 575px) and (max-width: 985px)  {

   .body .container, .preview, .baku, .london, .madrid, .rome {
    width: 49.8%;
  }
}

@media screen and (min-width: 986px) {

   .body .container, .preview, .baku, .london, .madrid, .rome {
    width: 24.8%;
  }
}
